#section1 {
    color:rgba(8, 237, 245, 0.977) 
}

body {
    background: linear-gradient(to bottom, RGB(255, 0, 210),RGB(253, 247, 252))
}

#main-nav {
    position:fixed;
    top:0;
    width:100%;
    
}
